.container{
  position: relative;
}
#VPContent .aside{
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateX(140px);
  height: 100%;
  transition: all .2s;
}
#VPContent .aside:hover{
  opacity: 1;
}

#app > .Layout:has(.VPSidebar) .aside{
  position: relative;
  order: 2;
  flex-grow: 1;
  padding-left: 32px;
  width: 100%;
  max-width: 256px;
  opacity: 1;
  transform: translateX(0);
}



.outline-marker {
	width: 2px!important;
	border-radius: 3px;
}

