:root {
	/* --vp-font-family-base: 'sans-serif'; */
  --vp-c-brand: #479bf1;
  --vp-c-brand-dark:  #479bf1;
  --vp-scroll-bar-track-bg:#efeded;
  --vp-scroll-bar-thumb-bg:#dfdcdc;
	--vp-code-line-highlight-color:#9a919140;
}

.dark{
  --vp-scroll-bar-thumb-bg:#3f3e3e;
	--vp-code-line-highlight-color:#0d0d0d;
}

/* FIXME: 添加了平滑滚动outline锚点跳转有误差 */
/* html{
	scroll-behavior: smooth;
} */

/* custom html scroll bar */
html::-webkit-scrollbar
{
	width: 9px;
}

html::-webkit-scrollbar-track
{
	border-radius: 9px;
	background-color: var(--vp-scroll-bar-track-bg);
}

html::-webkit-scrollbar-thumb
{
	border-radius: 9px;
	background-color: var(--vp-scroll-bar-thumb-bg);
}

html::-webkit-scrollbar-thumb:hover
{
	background-color: #989696;
}
.dark html::-webkit-scrollbar-thumb:hover
{
	background-color: #726f6f;
}


.outline-marker {
	width: 2px!important;
	border-radius: 3px;
}


